<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= appData.name %></title>
</head>
<body>
    <h1>Patient Details</h1>
    <ul>
        <li>Name: <%= patient.fname %> <%= patient.mname %> <%= patient.lname %></li>
        <li>Email: <%= patient.email %></li>
        <li>Phone: <%= patient.phone %></li>
    </ul>
    <h1>Patient Appointments:</h1>
    <% for (let i = 0; i < appointments.length; i++) { %>
        <% let appointment = appointments[i]; %>
        <ul>
            <li>Time: <%= formatSlot(appointment.slot) %> </li>
            <li><a href="../appointment_details/<%= appointment.id %>">View More Appointment Details</a></li>
        </ul>
    <% } %>
</body>
</html>