<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=<%= redirectLink %>" />
    <title><%= appData.name %>></title>
</head>
<body>
    <h1><%= subject %></h1>
    <p>Redirecting to <%= redirect %> in one moment...</p>
    
    <p><small>If you are not redirected automatically, <a href="<%= redirectLink %>">click here</a>.</small></p>
</body>
</html>